<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <!-- Single image -->
    <div class="gallery">
        <img src="/images/1.jpg" style="width: 200px;" />
        <img src="/images/2.jpg" style="width: 200px;" />
        <img src="/images/3.jpg" style="width: 200px;" />
        <img src="/images/4.jpg" style="width: 200px;" />
    </div>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</body>
</html>