$lb-gutter: 20px !default;
$lb-color: white !default;
$lb-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$lb-background: rgba(0, 0, 0, 0.7) !default;
$lb-nav-background: rgba(0, 0, 0, 0.6) !default;
$lb-pagination-background: rgba(0, 0, 0, 0.3) !default;
$lb-border-radius: 100px !default;
$lb-transition-time: 0.2s !default;
$lb-animation-duration: 0.5s !default;

.lb-modal {
    font-family: $lb-font-family;
    background: $lb-background;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.lb-modal-is-open {
    overflow: hidden;
}

.lb-modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 5;
    opacity: 0.5;
    transform: scale(0.8);
    background-color: $lb-nav-background;
    border-radius: $lb-border-radius;
    transition: opacity $lb-transition-time;

    svg {
        transform: translate(-2px, 0);
    }

    &:hover {
        opacity: 1;
    }
}

.lb-modal-next,
.lb-modal-prev {
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    z-index: 5;
    cursor: pointer;
    transform: scale(0.8);
    opacity: 0.8;
    transition: opacity .2s;
    user-select: none;

    &:hover {
        opacity: 1;
    }
}

.lb-modal-next {
    right: $lb-gutter;
}

.lb-modal-prev {
    left: $lb-gutter;
}

.lb-absolute-fit {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.lb-modal-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

.lb-modal-image-active {
    display: block;
}

.lb-modal-pagination {
    background: $lb-pagination-background;
    position: absolute;
    bottom: $lb-gutter;
    left: 50%;
    transform: translate(-50%, 0);
    color: $lb-color;
    font-size: 1.2rem;
    padding: 5px 15px;
    border-radius: 100px;
    min-width: 40px;
    text-align: center;

    > span {
        font-size: 1rem;
        position: relative;
        bottom: 2px;
        padding: 0 3px;
    }
}

.lb-anim-in {
    animation-name: lb-anim-in;
    animation-duration: $lb-animation-duration;
    animation-fill-mode: both;
}

.lb-anim-out {
    animation-name: lb-anim-out;
    animation-duration: $lb-animation-duration;
    animation-fill-mode: both;
}

@keyframes lb-anim-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes lb-anim-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
